<a href="https://colab.research.google.com/github/Bruno-Noriaki/Data-Science/blob/main/Din%C3%A2mina_08_10_Bruno_Noriaki.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bruno Noriaki de Moura Tsuha - #28689

Questão **1**

In [ ]:
#1 int
#2 float
#3 float
#4 string
#5 float
#6 float
#7 int
#8 int
#9 int

In [ ]:
#10
a = int(input('Digite um número inteiro: '))
print(f'O tipo do seu dado é {type(a)}')

Digite um número inteiro: 10
O tipo do seu dado é <class 'int'>

In [ ]:
#11 
b = float(input('Digite um número com decimal: '))
print(f'O tipo do seu dado é {type(b)}')

Digite um número com decimal: 10
O tipo do seu dado é <class 'float'>

In [ ]:
#12
c = input('Digite um texto: ')
print(f'O tipo do seu dado é {type(c)}')

Digite um texto: casa
O tipo do seu dado é <class 'str'>

In [ ]:
#13
d = input('Digite o que lhe vier à cabeça ')
print(f'O tipo do seu dado é {type(d)}')

Digite o que lhe vier à cabeça casinha 12
O tipo do seu dado é <class 'str'>

Questão **2**

In [ ]:
def tracejar(x):
  print('-'*50)
  print(f'{x:^50}')
  print('-'*50)

tracejar('DS06 - DNC')

--------------------------------------------------
                    DS06 - DNC
--------------------------------------------------

Questão 3

In [ ]:
salario = 10000.00
contas = {'BMW' : 2500.45,
'Apartamento' : 3500.50,
'Veterinário' : 500.00,
'Luz' : 100.80,
'Água' : 80.35,
'Condomínio' : 800.44,
'Gás' : 150.65}
total_gastos = 0

print('*'*103)
print(f'Seu salário de cientista de dados júnior é de R${salario:.2f} e seus gastos mensais estão dispostos abaixo:')

for conta, valor in contas.items():
  print(f'{conta} = R${valor}')
  total_gastos += valor

print('*'*103)
print(f'O valor disponível para a poupança é de R${salario-total_gastos:.2f}')

*******************************************************************************************************
Seu salário de cientista de dados júnior é de R$10000.00 e seus gastos mensais estão dispostos abaixo:
BMW = R$2500.45
Apartamento = R$3500.5
Veterinário = R$500.0
Luz = R$100.8
Água = R$80.35
Condomínio = R$800.44
Gás = R$150.65
*******************************************************************************************************
O valor disponível para a poupança é de R$2366.81

Questão **4**

In [ ]:
teste = 0
Curso = [['Dados',20000.00],
['Projetos',15000.00],
['Marketing', 13000.00], 
['Produto',18000.00],
['Tecnologia',19000.00]]

while True:
  print(f'Nossos Cursos disponíveis são: ')
  print('-'*50)
  for num, id in enumerate(Curso):
    print(f'[{num}] O Curso de {id[0]} tem o valor de R${id[1]:.2f}')
  teste = int(input('Selecione o número do curso que você deseja escolher: '))
  print('-'*50)

  if teste in range(0,5):
    print('-'*50)
    print(f'Parabéns, você se inscreveu no curso de {Curso[teste][0]} que começa no mês que vem')
    break
  else:
    print('-'*50)
    print('O valor digitado não é válido: ')

Nossos Cursos disponíveis são:
--------------------------------------------------
[0] O Curso de Dados tem o valor de R$20000.00
[1] O Curso de Projetos tem o valor de R$15000.00
[2] O Curso de Marketing tem o valor de R$13000.00
[3] O Curso de Produto tem o valor de R$18000.00
[4] O Curso de Tecnologia tem o valor de R$19000.00
Selecione o número do curso que você deseja escolher: 2
--------------------------------------------------
--------------------------------------------------
Parabéns, você se inscreveu no curso de Marketing que começa no mês que vem

Questão **5**

In [ ]:
Curso = [['Dados',20000.00],
['Projetos',15000.00],
['Marketing', 13000.00], 
['Produto',18000.00],
['Tecnologia',19000.00]]
meta = 2000000
Receita = 0

for v in Curso:
  vendas = int(input(f'Quantas vendas o curso {v[0]} teve no mês? '))
  Receita += vendas*v[1]

print('-'*50)
if Receita > meta:
  print(f'Parabéns, A DNC bateu a meta do mês e a receita do mês foi de R${Receita:.2f}')
else:
  print('Esse mês não conseguimos bater a meta, mas mês que vem iremos mais fortes')

print(f'Além disso, a receita média por curso foi de R${Receita/5:.2f}')

Quantas vendas o curso Dados teve no mês? 56
Quantas vendas o curso Projetos teve no mês? 12
Quantas vendas o curso Marketing teve no mês? 4
Quantas vendas o curso Produto teve no mês? 67
Quantas vendas o curso Tecnologia teve no mês? 2
--------------------------------------------------
Parabéns, A DNC bateu a meta do mês e a receita do mês foi de R$2596000.00
Além disso, a receita média por curso foi de R$519200.00

Questão **6**

In [ ]:
n = int(input('Quantos termos você deseja somar: '))
soma = 0

for i in range(1,n+1):
  soma += i

print(f'O somatório foi igual a {soma}')

Quantos termos você deseja somar: 3
O somatório foi igual a 6

Questão **7**

In [ ]:
while True:
  a = input('Qual ação deseja tomar? ')
  if a in 'pP':
    print('-'*50)
    print(f'{"Reproduzindo próxima música":^50}')
    print('-'*50)
  else:
    print('-'*50)
    print(f'{"Fechando o aplicativo":^50}')
    print(f'{"Até mais...":^50}')
    print('-'*50)
    break

Qual ação deseja tomar? k
--------------------------------------------------
              Fechando o aplicativo
                   Até mais...
--------------------------------------------------

Questão **8**

In [ ]:
nomes = []
for i in range(1,4):
  nomes.append(input(f'Digite o nome do {i}º dos seus colegas: '))

for n in nomes:
  print('-'*50)
  print(f'Parabéns por toda ajuda no projeto, {n}')
  print('-'*50)

Digite o nome do 1º dos seus colegas: a
Digite o nome do 2º dos seus colegas:
Digite o nome do 3º dos seus colegas: c
--------------------------------------------------
Parabéns por toda ajuda no projeto, a
--------------------------------------------------
--------------------------------------------------
Parabéns por toda ajuda no projeto,
--------------------------------------------------
--------------------------------------------------
Parabéns por toda ajuda no projeto, c
--------------------------------------------------

Questão **9**

In [ ]:
notas = [2.00,5.00,10.00,20.00,50.00,100.00]
Soma = 0
R = 's'

while R in 'Ss':
  print('-'*50)
  valor = float(input('''Qual o valor da nota deseja adicionar?
R$2,00
R$5,00
R$10,00
R$20,00
R$50,00
R$100,00
'''))
  
  if valor in notas:
    quant = int(input('Quantas notas dessa você tem? '))
    Soma += quant*valor
  else:
    print('O valor de nota não é válido, tente novamente') 
    
  print('-'*50)
  R = input('Você deseja adicionar mais uma nota (S/N)?')

print('-'*50)
print(f'Você tem R${Soma:.2f}')

--------------------------------------------------
Qual o valor da nota deseja adicionar?
R$2,00
R$5,00
R$10,00
R$20,00
R$50,00
R$100,00
10
Quantas notas dessa você tem? 3
--------------------------------------------------
Você deseja adicionar mais uma nota (S/N)?n
--------------------------------------------------
Você tem R$30.00

Questão **10**

In [ ]:
inf = []
for i in range(0,5):
  print('-'*50)
  nome = input(f'Digite o nome do {i+1}º usuário: ')
  cidade= input(f'Digite a cidade do {i+1}º usuário: ')
  RID = input(f'Digite a RID da {i+1}º usuário: ')
  Cargo = input(f'Digite o Cargo da {i+1}º usuário: ')
  pes = {'Nome':nome, 'Cidade':cidade, 'RID':cidade,'Cargo':Cargo}
  inf.append(pes)
  print('-'*50)
  
for num,pes in enumerate(inf):
  print('-'*50)
  print(f'Dados do {num+1}º integrante')
  for k,v in pes.items():
    print(f'{k}:{v}')
  print('-'*50)

--------------------------------------------------
Digite o nome do 1º usuário: aa
Digite a cidade do 1º usuário: aa
Digite a RID da 1º usuário: aa
Digite o Cargo da 1º usuário: aa
--------------------------------------------------
--------------------------------------------------
Digite o nome do 2º usuário: bb
Digite a cidade do 2º usuário: bb
Digite a RID da 2º usuário: bb
Digite o Cargo da 2º usuário: bb
--------------------------------------------------
--------------------------------------------------
Digite o nome do 3º usuário: cc
Digite a cidade do 3º usuário: cc
Digite a RID da 3º usuário: cc
Digite o Cargo da 3º usuário: cc
--------------------------------------------------
--------------------------------------------------
Digite o nome do 4º usuário: dd
Digite a cidade do 4º usuário: dd
Digite a RID da 4º usuário: dd
Digite o Cargo da 4º usuário: dd
--------------------------------------------------
--------------------------------------------------
Digite o nome do 5º usuário: ee
Digite a cidade do 5º usuário: ee
Digite a RID da 5º usuário: ee
Digite o Cargo da 5º usuário: ee
--------------------------------------------------
--------------------------------------------------
Dados do 1º integrante
Nome:aa
Cidade:aa
RID:aa
Cargo:aa
--------------------------------------------------
--------------------------------------------------
Dados do 2º integrante
Nome:bb
Cidade:bb
RID:bb
Cargo:bb
--------------------------------------------------
--------------------------------------------------
Dados do 3º integrante
Nome:cc
Cidade:cc
RID:cc
Cargo:cc
--------------------------------------------------
--------------------------------------------------
Dados do 4º integrante
Nome:dd
Cidade:dd
RID:dd
Cargo:dd
--------------------------------------------------
--------------------------------------------------
Dados do 5º integrante
Nome:ee
Cidade:ee
RID:ee
Cargo:ee
--------------------------------------------------

Questão **11**

In [ ]:
def soma(*num):
  soma = 0
  for i in num:
    soma +=i
  return soma